body{
	
}
.navbar{
	background-color: #b30000;
	color: white;
}
li a {
	color: white;
}
li a:hover {
	text-decoration: none;
}
div a {
	color: white;
}
div a:hover{
	text-decoration: none;
}
#mainimg{
	background-color:grey;
	height:200px;
	border-top: white solid 1px;
}
#footer{
	background-color:#b30000;
	height:100px;
}
.col-sm-6{
	
}
#aboutbtn{
	background-color: #b30000;
	height:300px;
	border: 1px white solid;
	text-align: center;
	color: white;
	font-family:Arial;
}
#mainbtn{
	background-color: black;
	height:300px;
	border: 1px white solid;
	text-align: center;
	color: white;
	font-family:Arial;
}
#drinksbtn{
	background-color: black;
	height:300px;
	border: 1px white solid;
	text-align: center;
	color: white;
	font-family:Arial;
}
#dessertbtn{
	background-color: #b30000;
	height:300px;
	border: 1px white solid;
	text-align: center;
	color: white;
	font-family:Arial;
}
.item{
	margin-left: 20%;
}
.menuitem{
	display: inline-block;
	margin-top: 1%;
	margin-left: 40%;
	padding-top:5%;
	padding-bottom:5%;
}
.addbutton{
	display: inline-block;
	margin-left: 20%;
	border: 1px solid black;
	padding-left:2%;
	padding-right:2%;
	border-radius: 5px;
	background-color: #b30000;
}
.addtext{
	color:white;
}